<div class="slide-box">
	<%=  form_for @idea, html: {class: "form-horizontal"} do |f| %>
	
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_area :body, class: "form-control", size: "200x6"%>
	</div>
	
	<div class = "form-group">	
		<%= f.submit class: "btn btn-primary close-slider" %> <%#= button_tag "Cancel" class: "cancel-slider" %>
	</div>
	
	<% end %>
</div>

<% @ideas.each do |i| %>
	
	<div class="idea-box">
		<p class="idea-name"> <%= link_to i.name, idea_path(i) %> </p>
		<p class="idea-body"> <%= i.body %> </p>
		<div>
		<div class="idea-footer-left">
			By: <%= i.user_name %> &nbsp On: <%= formatted_date( i.created_at ) %>
			&nbsp;
			
			<!----------------------- Joining ---------------------->
			<% if user_signed_in? && i.can_join?(current_user) %>
				<% if i.joined_already?(current_user) %>
					<%= link_to "Joined", idea_memberships_path(i), class: "btn btn-small btn-primary", method: :delete %> 
				<% else %>
					<%= link_to "Join", idea_memberships_path(i), class: "btn btn-small btn-primary", method: :create %> 
				<% end %>
			<% end %>


			<!----------------------- Liking ---------------------->
			<% if user_signed_in? && !i.created_by?( current_user) %>
				<!--idea_likes_path	POST /ideas/:idea_id/likes(.:format)	likes#create-->
				<% if current_user.has_liked_idea?( i ) %>
					
					<%= link_to fa_icon("thumbs-up"), 
								idea_like_path( i, i.like_for(current_user) ), 
								class: "big-icon",
								title: "Un-Like",
								method: :delete 
								%>	
								
				<% else %>
					
					<%= link_to fa_icon("thumbs-o-up"), 
								idea_likes_path( i ), 
								class: "big-icon",
								title: "Like",
								method: :post 	
								%>
								
				<% end %>
			<% end %>
		</div>
		<div class="idea-footer-right">
			Members: <%= i.memberships.count %>
			|
			Likes : <%= i.likes.count %> 
				<p>&nbsp</p>
		</div>
		
		</div>
	</div>
	<hr>
	<br>
	<br>
<% end %>
	
